.u-zui {
    transition-property:
      padding;
    transition-duration: get($config, 'durations', 'default');  
    transition-timing-function: get($config, 'easings', 'bounce');

    &:not(.is-zoomed-out) {
      padding: 0;
      padding-top: 6.5rem;
      overflow-x: hidden;
      
      // To help the user with quickly navigating back to 
      // the menu, we fix the header when zoomed in.
      .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
      }
    }
    

    // When the ZUI is focusing in on a page, the user
    // needs a way to get back to the overview.
    &__close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.3;
    }
}