/*---------------------------------------------------
 * Functions
 *---------------------------------------------------
 */
 @function get($map, $keys...) {
   @each $key in $keys {
     $map: map-get($map, $key);
   }
   @return $map;
 }


/*---------------------------------------------------
 * Config
 *---------------------------------------------------
 */
 $config: (
   sizes: (
     default: 1.618rem,
     zoomed-out: 33%,
     hover: 45%,
     active: 65%,
     zoomed-in: 100%
   ),
   durations: (
     default: .4s
   ),
   easings: (
     bounce: cubic-bezier(.87,-.05,.19,1.44)
   ),
   colors: (
    space: hsl(204, 31%, 16%),
    mars: hsl(12, 74%, 55%),
    jupiter: hsl(21, 85%, 61%),
    saturn: hsl(41, 81%, 64%),
    uranus: hsl(185, 61%, 84%),
    neptune: hsl(220, 35%, 55%),
    mercury: hsl(40, 79%, 66%),
    venus: hsl(37, 64%, 49%),
    earth: hsl(188, 35%, 55%)
   )
 );